{% extends "wagtailadmin/base.html" %}
{% load i18n %}

{% block titletag %}{% trans "Add new 2FA device" %}{% endblock %}
{% block content %}
    {% trans "Two Factor Settings" as prefs_str %}
    {% include "wagtailadmin/shared/header.html" with title=prefs_str %}

    <div class="nice-padding">
            <img src="{% url 'wagtail_2fa_device_qrcode' %}">

        <form action="{% url 'wagtail_2fa_device_new' %}" method="POST" novalidate>
            {% csrf_token %}
            <ul class="fields">
                {% for field in form %}
                    {% include "wagtailadmin/shared/field_as_li.html" with field=field %}
                {% endfor %}
                <li class="submit"><input type="submit" value="{% trans 'Update' %}" class="button" /></li>
            </ul>
        </form>
    </div>
{% endblock %}
